@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);
*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Nunito", sans-serif;
}

body{
    background: rgb(238, 238, 238);
    background: radial-gradient(circle, rgb(238, 238, 238) 46%, rgba(242,250,255,1) 100%);
}


.container{
    padding: 5vh 10vw;
}
.text-centered{
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    margin-top: 50px;
    align-items: center;
}

.about{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 50px;
    row-gap: 50px;
    min-height: 300px;
    background-color: white;
}

::-webkit-scrollbar {
    width: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
     border-radius: 2px;
    background-color: #000000;
    color: #000000;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.007);
  }

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    margin-top: 50px;
}
.rounded{
    background-color: white;
    border-radius: 2vw;
    margin: 2vh 2vw;
}
.hero{
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    background-image: url(../img/bg.png);
    background-size: cover;
    position: relative;
    box-shadow: inset 0px 0px 20px 5px rgb(238, 238, 238);

}


p{
    line-height: 2;
}

@media (max-width: 897px) {
    .grid{
        grid-template-columns: 1fr;
    }
    .container{
        padding: 2.5vh 5vw;
    }
    .about{
        display: grid;
        grid-template-columns: 100%;
        column-gap: 25px;
        row-gap: 25px;
        min-height: 300px;
        background-color: white;
    }
    .projects{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 50px;
        row-gap: 50px;
        margin-top: 50px;
    }
    .grid .img{
        order: 2;
    }
    .grid .text{
        order: 1;
    }
    .page-image{
        max-width: 250px;
        
    }
}

.page-image{
    max-height: 300px;
}

.grid .img{
    text-align: center;
}

@media (max-width: 400px) { 
    .hero{
        font-size: 0.75rem;
    }
}